/*google  fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Ubuntu:wght@400;500;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
 

}    
  /* variables*/
:root{
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color:#171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
}
body{
    color: var(--bg-color);
    background: var(--body-color);

}
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--heading-color);
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.header-active{
    background: var(--box-color);
    transition: 0.4s;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.logo{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--main-color);

}
.navbar{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}
.nav-link{
    font-size: 0.96rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}
.nav-link:hover{
color: var(--main-color);
background: var(--container-color);
transition: 0.3s all linear;
}
/* menu- icon*/
.menu-icon{
display: none;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 5px;
cursor: pointer;
z-index: 200;
transition: 0.3s;
}
.menu-icon div{
display: block;
background: var(--bg-color);
height: 2px;
width: 24px;
transition: 0.3s;

}
.move .line1{
    transform: rotate( -45deg) translate(-5px,5px);
}

.move .line2{
    opacity: 0;
}
.move .line3{
    transform: rotate( 45deg) translate(-5px,-5px);
}

/*home */
.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}
.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.home-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #98a7fc;
    margin-bottom: 2rem;
    overflow: hidden;
}
.home-img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.home-text h3::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}
.home-text h3::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}
.home-text h2{
    font-size: 3.5rem;
    line-height: 4.8rem;

}
.home-text p{
    font-size: 0.938rem;
    margin-bottom: 1.5rem;

}
.home-text .color{
    color: var(--main-color);
}
.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.social .bx{
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}
.social .bx:hover{
    background: var(--main-color);
    transition: 0.3s all linear;
}

/* heading*/
.heading{
    font-size: 5rem;
    text-transform: uppercase;
    color:var(--container-color);
    text-align: center;
    margin-bottom: 2rem;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin:0 200px;

}
.about-data span{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}
.about-data h2{
font-size: 2rem;
line-height: 2.6rem;
font-weight: 700;
margin: 1rem 0;

}
.btn{
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.btn .bx{
    font-size: 1.2rem;

}

.btn:hover{
    background: #546eff;
    transition: 0.3s all linear;
}
.about-text p{
font-size: 0.938rem;
letter-spacing: 1px;
text-align: justify;
margin-bottom: 1.5rem;

}
.services-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
   
}
.services-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: var(--container-color);
    border-radius: 0.4rem;
    margin: 50px;
}
.services-box:hover{
    transform:scale(1.05);
    transition:0.5s all cubic-bezier(0.075,0.82,0.165,1)

}
.services-box .bx{
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 5rem;
    border: dashed var(--bg-color);
}
services.box h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem, 0;
    color: var(--main-color);
}
.services-box p{
    font-size:0.9rem;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 2rem;
    margin:0 200px;
}
.portfolio-box{
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio-image{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.portfolio-overlay{
    position:absolute;
    top:-100%;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(234,45%,16%,0.7);
}
.portfolio-overlay h2{
     font-size: 1.6rem;
     font-weight: 600;
     margin-bottom: 10px;
}
.portfolio-overlay .bx{
    font-size: 24px;
    padding: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}
.portfolio-overlay .bx:hover{
    background: #546eff;
    transition: 0.3s all linear;
}

.portfolio-box:hover.portfolio-overlay{
    top:0;
    transition: 0.3s all ease 0s;
}
/* projects content*/
.projects-content{
    display:grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    gap: 1.5rem;
}

.project-box{
padding: 20px 10px;
background: var(--box-color);
border-radius: 0.4rem;
text-align: center;

}
.project-box h2{
    font-size: 1.2rem;

}
.project-box span{
    font-size: 0.845rem;
}

/*reviews*/
.container-reviews{
  max-width: 750px;
  margin: auto; 
  width: 100%;

}
.review-box{
    max-width: 500px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom:3.5rem !important;
}
.review-box .bx{
font-size: 2rem;
color: var(--main-color);
margin-bottom: 0.5rem;
}
.review-box .review-text{
    font-size: 0.89rem;
    margin-bottom: 1rem;

}
.review-profile{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.review-profile h2{
font-size: 1.1rem;
line-height: 1.3rem;
color: var(--main-color);
font-weight: 600;
}
.review-profile span{
    font-size: 0.84rem;
    margin: 0.5rem 0 0.7rem;
}
.review-profile img{
width: 100px;
height: 100px;
border-radius: 50%;
padding: 4px;
border: 2px solid var(--main-color);
display: flex;
align-items: center;
justify-content: center;
object-fit: cover;
object-position: center;
margin-bottom: 50px;
}
.swiper-pagination-bullet{
    width: 6px!important;
    height: 6px!important;
    border-radius:0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;

}
.swiper-pagination-bullet :active{
    width: 1.5rem !important;
    background: var(--main-color) !important;

}
/*contact area*/

.contact-form{
    max-width: 600px;
    margin:auto;
    width: 100%;
    display: grid;
    row-gap:1rem;

}
.contact-form input,.contact-form textarea{
border: none;
outline: none;
font-size: 0.9rem;
padding: 15px;
color: var(--bg-color);
background: var(--box-color);
border-radius: 0.4rem;

}
.contact-form .send-btn{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
}
.contact-form .send-btn:hover{
    background: #546eff;
    transform: 0.3s all linear;
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}
.footer p{
    font-size: 0.9rem;
}
.footer-links{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.footer-links a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--bg-color);

}
.footer-links a:hover{
    color: var(--main-color);
    transition: 0.3s all linear;
}
.scroll-top{
    position: fixed;
    bottom: -100%;
    right: 1.5rem;

}
.scroll-top .bx{
    padding: 8px;
    font-size: 1.3rem;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.2rem;
}

.scroll-top .bx:hover{
background: var(--container-color);
transition: 0.3s;
}
.Scroll-active{
    bottom: 2rem;
    transition: 0.3s all linear;
}
/* making responsive*/
@media (max-width:990px){
    .container{
     margin: 0, auto;
     width: 90%;


    }
}
@media (max-width:892px){
    section{
     padding:2rem 0;

    }
    .nav{
       padding: 12px 0;

    }
    .heading{
        font-size: 4rem;
    }
    .portfolio-box{
        height: 257px;
    }
}
@media (max-width:775px){
    .nav{
        padding: 10px 0;
    }
    .logo{
        font-size:1.1rem;
    }
    .home{
        min-height: 500px;
        padding-top: 6rem;
    }
    .home-text h3{
        font-size: 1rem;
    }
    .home-text h2{
        font-size: 3rem;
        line-height: 3.8rem;
    }
    .home-text p{
        font-size: 0.825rem;
    }
    .services-content{
        grid-template-columns: repeat(2,1fr);
    }
    .portfolio-box{
        height: 245px;

    }
    .menu-icon{
        display: flex;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -100;
        width: 300px;
        height: 100vh;
        background: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    }
    .open-menu{
        right:0;
        transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .nav-link{
        display: block;
        margin: 1rem 0;

    }

}
@media (max-width:632px){
.about-content{
    grid-template-columns: 1fr;
}
.about-data span{
    font-size: 0.9rem;

}
.about-data h2{
    font-size:1.7rem;
    line-height: 2.3rem;
    font-weight: 600;
    margin: 0.8rem 0;

}
.about-data p{
    font-size: 0.825rem;
    margin: 1.3rem;
}
.projects-content{
    grid-template-columns: repeat(2, 200px);
}

}
@media (max-width:485px){
    .home{
     min-height: 485px;
     padding-top: 5rem;

    }
    .home-img{
        width: 140px;
        height: 140px;

    }
    .home-img img{
        width: 140px;
        height: 140px;
        
    }
    .home-text h2{
        font-size: 2.1rem;
        line-height: 3.2rem;
    }
    .home-text p br{
        display: contents;
    }
    .heading{
        font-size: 3rem;
    }
    .about-data h2{
        font-size: 1.5rem;
        line-height: 2.1rem;
        margin: 0.6rem 0;
    }
    .services-content,
    .portfolio-content,
    .projects-content{
        grid-template-columns: 1fr;
    }
    .review-box,.review-text{
        font-size: 0.82rem;
        margin-bottom: 1rem;
    }
    .footer-links{
        flex-direction: column;
        row-gap: 1rem;
    }
}
@media (max-width:325px){
   .navbar{
    width: 100%;
   }
   .portfolio-box{
    height: 190px;
   }
}
    



    
